DefaultEdemHook/GetFXRate.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://citwebservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://citwebservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://citwebservice.org/">
      <s:element name="GetFXRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fixedCurrency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="varCurrency" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFXRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFXRateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertIntoDatabaseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseUAT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseUATResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertIntoDatabaseUATResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitDuplicateTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitDuplicateTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitDuplicateTransactionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SummaryReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReportUAT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReportUATResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SummaryReportUATResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailedReportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportUAT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportUATResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailedReportUATResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnlockAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearLockAccountStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearLockAccountStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearLockAccountStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAllUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="random" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnlockAllUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOffResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertIntoDatabaseMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseMCDUAT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseMCDUATResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertIntoDatabaseMCDUATResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitDuplicateTransactionMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitDuplicateTransactionMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitDuplicateTransactionMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReportMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReportMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SummaryReportMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TellerTillReportMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TellerTillReportMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TellerTillReportMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailedReportMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionsMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionsMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTransactionsMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionDetailsMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranTimeStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionDetailsMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTransactionDetailsMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDetailsOracleMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDetailsOracleMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountDetailsOracleMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDetailsMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccountDetailsMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AccountDetailsMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAccountMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAccountMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnlockAccountMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearLockAccountStatusMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearLockAccountStatusMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearLockAccountStatusMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOffMCD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOffMCDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOffMCDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MACAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOffRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogOffRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOffRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearLockAccountStatusRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PIN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearLockAccountStatusRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearLockAccountStatusRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAccountRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnlockAccountRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnlockAccountRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoDatabaseRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertIntoDatabaseRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CashOutRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="depositorName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currency" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="depositType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SerialNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Signature" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mandate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CashOutRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CashOutRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReportRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SummaryReportRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SummaryReportRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportRTC1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportRTC1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailedReportRTC1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DetailedReportRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DetailedReportRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchitem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionsRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionsRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTransactionsRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionDetailsRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TranTimeStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadTransactionDetailsRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadTransactionDetailsRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPasswordRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResetPasswordRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignatureRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSignatureRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSignatureRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TellerTillReportRTC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IMEI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SIMSerialNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TellerTillReportRTCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TellerTillReportRTCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFXRateSoapIn">
    <wsdl:part name="parameters" element="tns:GetFXRate" />
  </wsdl:message>
  <wsdl:message name="GetFXRateSoapOut">
    <wsdl:part name="parameters" element="tns:GetFXRateResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabase" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseUATSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseUAT" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseUATSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseUATResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitDuplicateTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitDuplicateTransaction" />
  </wsdl:message>
  <wsdl:message name="SubmitDuplicateTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitDuplicateTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="AccountDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AccountDetails" />
  </wsdl:message>
  <wsdl:message name="AccountDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AccountDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SummaryReportSoapIn">
    <wsdl:part name="parameters" element="tns:SummaryReport" />
  </wsdl:message>
  <wsdl:message name="SummaryReportSoapOut">
    <wsdl:part name="parameters" element="tns:SummaryReportResponse" />
  </wsdl:message>
  <wsdl:message name="SummaryReportUATSoapIn">
    <wsdl:part name="parameters" element="tns:SummaryReportUAT" />
  </wsdl:message>
  <wsdl:message name="SummaryReportUATSoapOut">
    <wsdl:part name="parameters" element="tns:SummaryReportUATResponse" />
  </wsdl:message>
  <wsdl:message name="DetailedReportSoapIn">
    <wsdl:part name="parameters" element="tns:DetailedReport" />
  </wsdl:message>
  <wsdl:message name="DetailedReportSoapOut">
    <wsdl:part name="parameters" element="tns:DetailedReportResponse" />
  </wsdl:message>
  <wsdl:message name="DetailedReportUATSoapIn">
    <wsdl:part name="parameters" element="tns:DetailedReportUAT" />
  </wsdl:message>
  <wsdl:message name="DetailedReportUATSoapOut">
    <wsdl:part name="parameters" element="tns:DetailedReportUATResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockAccount" />
  </wsdl:message>
  <wsdl:message name="UnlockAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ClearLockAccountStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ClearLockAccountStatus" />
  </wsdl:message>
  <wsdl:message name="ClearLockAccountStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ClearLockAccountStatusResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockAllUsers" />
  </wsdl:message>
  <wsdl:message name="UnlockAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapIn">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="LogOffSoapOut">
    <wsdl:part name="parameters" element="tns:LogOffResponse" />
  </wsdl:message>
  <wsdl:message name="LoginMCDSoapIn">
    <wsdl:part name="parameters" element="tns:LoginMCD" />
  </wsdl:message>
  <wsdl:message name="LoginMCDSoapOut">
    <wsdl:part name="parameters" element="tns:LoginMCDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseMCDSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseMCD" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseMCDSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseMCDResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseMCDUATSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseMCDUAT" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseMCDUATSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseMCDUATResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitDuplicateTransactionMCDSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitDuplicateTransactionMCD" />
  </wsdl:message>
  <wsdl:message name="SubmitDuplicateTransactionMCDSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitDuplicateTransactionMCDResponse" />
  </wsdl:message>
  <wsdl:message name="SummaryReportMCDSoapIn">
    <wsdl:part name="parameters" element="tns:SummaryReportMCD" />
  </wsdl:message>
  <wsdl:message name="SummaryReportMCDSoapOut">
    <wsdl:part name="parameters" element="tns:SummaryReportMCDResponse" />
  </wsdl:message>
  <wsdl:message name="TellerTillReportMCDSoapIn">
    <wsdl:part name="parameters" element="tns:TellerTillReportMCD" />
  </wsdl:message>
  <wsdl:message name="TellerTillReportMCDSoapOut">
    <wsdl:part name="parameters" element="tns:TellerTillReportMCDResponse" />
  </wsdl:message>
  <wsdl:message name="DetailedReportMCDSoapIn">
    <wsdl:part name="parameters" element="tns:DetailedReportMCD" />
  </wsdl:message>
  <wsdl:message name="DetailedReportMCDSoapOut">
    <wsdl:part name="parameters" element="tns:DetailedReportMCDResponse" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionsMCDSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTransactionsMCD" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionsMCDSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTransactionsMCDResponse" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionDetailsMCDSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTransactionDetailsMCD" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionDetailsMCDSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTransactionDetailsMCDResponse" />
  </wsdl:message>
  <wsdl:message name="AccountDetailsOracleMCDSoapIn">
    <wsdl:part name="parameters" element="tns:AccountDetailsOracleMCD" />
  </wsdl:message>
  <wsdl:message name="AccountDetailsOracleMCDSoapOut">
    <wsdl:part name="parameters" element="tns:AccountDetailsOracleMCDResponse" />
  </wsdl:message>
  <wsdl:message name="AccountDetailsMCDSoapIn">
    <wsdl:part name="parameters" element="tns:AccountDetailsMCD" />
  </wsdl:message>
  <wsdl:message name="AccountDetailsMCDSoapOut">
    <wsdl:part name="parameters" element="tns:AccountDetailsMCDResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordMCDSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPasswordMCD" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordMCDSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordMCDResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockAccountMCDSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockAccountMCD" />
  </wsdl:message>
  <wsdl:message name="UnlockAccountMCDSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockAccountMCDResponse" />
  </wsdl:message>
  <wsdl:message name="ClearLockAccountStatusMCDSoapIn">
    <wsdl:part name="parameters" element="tns:ClearLockAccountStatusMCD" />
  </wsdl:message>
  <wsdl:message name="ClearLockAccountStatusMCDSoapOut">
    <wsdl:part name="parameters" element="tns:ClearLockAccountStatusMCDResponse" />
  </wsdl:message>
  <wsdl:message name="LogOffMCDSoapIn">
    <wsdl:part name="parameters" element="tns:LogOffMCD" />
  </wsdl:message>
  <wsdl:message name="LogOffMCDSoapOut">
    <wsdl:part name="parameters" element="tns:LogOffMCDResponse" />
  </wsdl:message>
  <wsdl:message name="LoginRTCSoapIn">
    <wsdl:part name="parameters" element="tns:LoginRTC" />
  </wsdl:message>
  <wsdl:message name="LoginRTCSoapOut">
    <wsdl:part name="parameters" element="tns:LoginRTCResponse" />
  </wsdl:message>
  <wsdl:message name="LogOffRTCSoapIn">
    <wsdl:part name="parameters" element="tns:LogOffRTC" />
  </wsdl:message>
  <wsdl:message name="LogOffRTCSoapOut">
    <wsdl:part name="parameters" element="tns:LogOffRTCResponse" />
  </wsdl:message>
  <wsdl:message name="ClearLockAccountStatusRTCSoapIn">
    <wsdl:part name="parameters" element="tns:ClearLockAccountStatusRTC" />
  </wsdl:message>
  <wsdl:message name="ClearLockAccountStatusRTCSoapOut">
    <wsdl:part name="parameters" element="tns:ClearLockAccountStatusRTCResponse" />
  </wsdl:message>
  <wsdl:message name="UnlockAccountRTCSoapIn">
    <wsdl:part name="parameters" element="tns:UnlockAccountRTC" />
  </wsdl:message>
  <wsdl:message name="UnlockAccountRTCSoapOut">
    <wsdl:part name="parameters" element="tns:UnlockAccountRTCResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseRTCSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseRTC" />
  </wsdl:message>
  <wsdl:message name="InsertIntoDatabaseRTCSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoDatabaseRTCResponse" />
  </wsdl:message>
  <wsdl:message name="CashOutRTCSoapIn">
    <wsdl:part name="parameters" element="tns:CashOutRTC" />
  </wsdl:message>
  <wsdl:message name="CashOutRTCSoapOut">
    <wsdl:part name="parameters" element="tns:CashOutRTCResponse" />
  </wsdl:message>
  <wsdl:message name="SummaryReportRTCSoapIn">
    <wsdl:part name="parameters" element="tns:SummaryReportRTC" />
  </wsdl:message>
  <wsdl:message name="SummaryReportRTCSoapOut">
    <wsdl:part name="parameters" element="tns:SummaryReportRTCResponse" />
  </wsdl:message>
  <wsdl:message name="DetailedReportRTC1SoapIn">
    <wsdl:part name="parameters" element="tns:DetailedReportRTC1" />
  </wsdl:message>
  <wsdl:message name="DetailedReportRTC1SoapOut">
    <wsdl:part name="parameters" element="tns:DetailedReportRTC1Response" />
  </wsdl:message>
  <wsdl:message name="DetailedReportRTCSoapIn">
    <wsdl:part name="parameters" element="tns:DetailedReportRTC" />
  </wsdl:message>
  <wsdl:message name="DetailedReportRTCSoapOut">
    <wsdl:part name="parameters" element="tns:DetailedReportRTCResponse" />
  </wsdl:message>
  <wsdl:message name="SearchRTCSoapIn">
    <wsdl:part name="parameters" element="tns:SearchRTC" />
  </wsdl:message>
  <wsdl:message name="SearchRTCSoapOut">
    <wsdl:part name="parameters" element="tns:SearchRTCResponse" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionsRTCSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTransactionsRTC" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionsRTCSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTransactionsRTCResponse" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionDetailsRTCSoapIn">
    <wsdl:part name="parameters" element="tns:LoadTransactionDetailsRTC" />
  </wsdl:message>
  <wsdl:message name="LoadTransactionDetailsRTCSoapOut">
    <wsdl:part name="parameters" element="tns:LoadTransactionDetailsRTCResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordRTCSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPasswordRTC" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordRTCSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordRTCResponse" />
  </wsdl:message>
  <wsdl:message name="GetSignatureRTCSoapIn">
    <wsdl:part name="parameters" element="tns:GetSignatureRTC" />
  </wsdl:message>
  <wsdl:message name="GetSignatureRTCSoapOut">
    <wsdl:part name="parameters" element="tns:GetSignatureRTCResponse" />
  </wsdl:message>
  <wsdl:message name="TellerTillReportRTCSoapIn">
    <wsdl:part name="parameters" element="tns:TellerTillReportRTC" />
  </wsdl:message>
  <wsdl:message name="TellerTillReportRTCSoapOut">
    <wsdl:part name="parameters" element="tns:TellerTillReportRTCResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetFXRate">
      <wsdl:input message="tns:GetFXRateSoapIn" />
      <wsdl:output message="tns:GetFXRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabase">
      <wsdl:input message="tns:InsertIntoDatabaseSoapIn" />
      <wsdl:output message="tns:InsertIntoDatabaseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseUAT">
      <wsdl:input message="tns:InsertIntoDatabaseUATSoapIn" />
      <wsdl:output message="tns:InsertIntoDatabaseUATSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitDuplicateTransaction">
      <wsdl:input message="tns:SubmitDuplicateTransactionSoapIn" />
      <wsdl:output message="tns:SubmitDuplicateTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountDetails">
      <wsdl:input message="tns:AccountDetailsSoapIn" />
      <wsdl:output message="tns:AccountDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SummaryReport">
      <wsdl:input message="tns:SummaryReportSoapIn" />
      <wsdl:output message="tns:SummaryReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SummaryReportUAT">
      <wsdl:input message="tns:SummaryReportUATSoapIn" />
      <wsdl:output message="tns:SummaryReportUATSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetailedReport">
      <wsdl:input message="tns:DetailedReportSoapIn" />
      <wsdl:output message="tns:DetailedReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetailedReportUAT">
      <wsdl:input message="tns:DetailedReportUATSoapIn" />
      <wsdl:output message="tns:DetailedReportUATSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockAccount">
      <wsdl:input message="tns:UnlockAccountSoapIn" />
      <wsdl:output message="tns:UnlockAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatus">
      <wsdl:input message="tns:ClearLockAccountStatusSoapIn" />
      <wsdl:output message="tns:ClearLockAccountStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockAllUsers">
      <wsdl:input message="tns:UnlockAllUsersSoapIn" />
      <wsdl:output message="tns:UnlockAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <wsdl:input message="tns:LogOffSoapIn" />
      <wsdl:output message="tns:LogOffSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginMCD">
      <wsdl:input message="tns:LoginMCDSoapIn" />
      <wsdl:output message="tns:LoginMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseMCD">
      <wsdl:input message="tns:InsertIntoDatabaseMCDSoapIn" />
      <wsdl:output message="tns:InsertIntoDatabaseMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseMCDUAT">
      <wsdl:input message="tns:InsertIntoDatabaseMCDUATSoapIn" />
      <wsdl:output message="tns:InsertIntoDatabaseMCDUATSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitDuplicateTransactionMCD">
      <wsdl:input message="tns:SubmitDuplicateTransactionMCDSoapIn" />
      <wsdl:output message="tns:SubmitDuplicateTransactionMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SummaryReportMCD">
      <wsdl:input message="tns:SummaryReportMCDSoapIn" />
      <wsdl:output message="tns:SummaryReportMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TellerTillReportMCD">
      <wsdl:input message="tns:TellerTillReportMCDSoapIn" />
      <wsdl:output message="tns:TellerTillReportMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetailedReportMCD">
      <wsdl:input message="tns:DetailedReportMCDSoapIn" />
      <wsdl:output message="tns:DetailedReportMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionsMCD">
      <wsdl:input message="tns:LoadTransactionsMCDSoapIn" />
      <wsdl:output message="tns:LoadTransactionsMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionDetailsMCD">
      <wsdl:input message="tns:LoadTransactionDetailsMCDSoapIn" />
      <wsdl:output message="tns:LoadTransactionDetailsMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsOracleMCD">
      <wsdl:input message="tns:AccountDetailsOracleMCDSoapIn" />
      <wsdl:output message="tns:AccountDetailsOracleMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsMCD">
      <wsdl:input message="tns:AccountDetailsMCDSoapIn" />
      <wsdl:output message="tns:AccountDetailsMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordMCD">
      <wsdl:input message="tns:ResetPasswordMCDSoapIn" />
      <wsdl:output message="tns:ResetPasswordMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockAccountMCD">
      <wsdl:input message="tns:UnlockAccountMCDSoapIn" />
      <wsdl:output message="tns:UnlockAccountMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatusMCD">
      <wsdl:input message="tns:ClearLockAccountStatusMCDSoapIn" />
      <wsdl:output message="tns:ClearLockAccountStatusMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOffMCD">
      <wsdl:input message="tns:LogOffMCDSoapIn" />
      <wsdl:output message="tns:LogOffMCDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginRTC">
      <wsdl:input message="tns:LoginRTCSoapIn" />
      <wsdl:output message="tns:LoginRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOffRTC">
      <wsdl:input message="tns:LogOffRTCSoapIn" />
      <wsdl:output message="tns:LogOffRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatusRTC">
      <wsdl:input message="tns:ClearLockAccountStatusRTCSoapIn" />
      <wsdl:output message="tns:ClearLockAccountStatusRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnlockAccountRTC">
      <wsdl:input message="tns:UnlockAccountRTCSoapIn" />
      <wsdl:output message="tns:UnlockAccountRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseRTC">
      <wsdl:input message="tns:InsertIntoDatabaseRTCSoapIn" />
      <wsdl:output message="tns:InsertIntoDatabaseRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CashOutRTC">
      <wsdl:input message="tns:CashOutRTCSoapIn" />
      <wsdl:output message="tns:CashOutRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SummaryReportRTC">
      <wsdl:input message="tns:SummaryReportRTCSoapIn" />
      <wsdl:output message="tns:SummaryReportRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetailedReportRTC1">
      <wsdl:input message="tns:DetailedReportRTC1SoapIn" />
      <wsdl:output message="tns:DetailedReportRTC1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DetailedReportRTC">
      <wsdl:input message="tns:DetailedReportRTCSoapIn" />
      <wsdl:output message="tns:DetailedReportRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchRTC">
      <wsdl:input message="tns:SearchRTCSoapIn" />
      <wsdl:output message="tns:SearchRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionsRTC">
      <wsdl:input message="tns:LoadTransactionsRTCSoapIn" />
      <wsdl:output message="tns:LoadTransactionsRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionDetailsRTC">
      <wsdl:input message="tns:LoadTransactionDetailsRTCSoapIn" />
      <wsdl:output message="tns:LoadTransactionDetailsRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordRTC">
      <wsdl:input message="tns:ResetPasswordRTCSoapIn" />
      <wsdl:output message="tns:ResetPasswordRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSignatureRTC">
      <wsdl:input message="tns:GetSignatureRTCSoapIn" />
      <wsdl:output message="tns:GetSignatureRTCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TellerTillReportRTC">
      <wsdl:input message="tns:TellerTillReportRTCSoapIn" />
      <wsdl:output message="tns:TellerTillReportRTCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFXRate">
      <soap:operation soapAction="http://citwebservice.org/GetFXRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://citwebservice.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabase">
      <soap:operation soapAction="http://citwebservice.org/InsertIntoDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseUAT">
      <soap:operation soapAction="http://citwebservice.org/InsertIntoDatabaseUAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDuplicateTransaction">
      <soap:operation soapAction="http://citwebservice.org/SubmitDuplicateTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDetails">
      <soap:operation soapAction="http://citwebservice.org/AccountDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReport">
      <soap:operation soapAction="http://citwebservice.org/SummaryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReportUAT">
      <soap:operation soapAction="http://citwebservice.org/SummaryReportUAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReport">
      <soap:operation soapAction="http://citwebservice.org/DetailedReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportUAT">
      <soap:operation soapAction="http://citwebservice.org/DetailedReportUAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://citwebservice.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAccount">
      <soap:operation soapAction="http://citwebservice.org/UnlockAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatus">
      <soap:operation soapAction="http://citwebservice.org/ClearLockAccountStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAllUsers">
      <soap:operation soapAction="http://citwebservice.org/UnlockAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap:operation soapAction="http://citwebservice.org/LogOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMCD">
      <soap:operation soapAction="http://citwebservice.org/LoginMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseMCD">
      <soap:operation soapAction="http://citwebservice.org/InsertIntoDatabaseMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseMCDUAT">
      <soap:operation soapAction="http://citwebservice.org/InsertIntoDatabaseMCDUAT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDuplicateTransactionMCD">
      <soap:operation soapAction="http://citwebservice.org/SubmitDuplicateTransactionMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReportMCD">
      <soap:operation soapAction="http://citwebservice.org/SummaryReportMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellerTillReportMCD">
      <soap:operation soapAction="http://citwebservice.org/TellerTillReportMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportMCD">
      <soap:operation soapAction="http://citwebservice.org/DetailedReportMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionsMCD">
      <soap:operation soapAction="http://citwebservice.org/LoadTransactionsMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionDetailsMCD">
      <soap:operation soapAction="http://citwebservice.org/LoadTransactionDetailsMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsOracleMCD">
      <soap:operation soapAction="http://citwebservice.org/AccountDetailsOracleMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsMCD">
      <soap:operation soapAction="http://citwebservice.org/AccountDetailsMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordMCD">
      <soap:operation soapAction="http://citwebservice.org/ResetPasswordMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAccountMCD">
      <soap:operation soapAction="http://citwebservice.org/UnlockAccountMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatusMCD">
      <soap:operation soapAction="http://citwebservice.org/ClearLockAccountStatusMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOffMCD">
      <soap:operation soapAction="http://citwebservice.org/LogOffMCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRTC">
      <soap:operation soapAction="http://citwebservice.org/LoginRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOffRTC">
      <soap:operation soapAction="http://citwebservice.org/LogOffRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatusRTC">
      <soap:operation soapAction="http://citwebservice.org/ClearLockAccountStatusRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAccountRTC">
      <soap:operation soapAction="http://citwebservice.org/UnlockAccountRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseRTC">
      <soap:operation soapAction="http://citwebservice.org/InsertIntoDatabaseRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashOutRTC">
      <soap:operation soapAction="http://citwebservice.org/CashOutRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReportRTC">
      <soap:operation soapAction="http://citwebservice.org/SummaryReportRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportRTC1">
      <soap:operation soapAction="http://citwebservice.org/DetailedReportRTC1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportRTC">
      <soap:operation soapAction="http://citwebservice.org/DetailedReportRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRTC">
      <soap:operation soapAction="http://citwebservice.org/SearchRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionsRTC">
      <soap:operation soapAction="http://citwebservice.org/LoadTransactionsRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionDetailsRTC">
      <soap:operation soapAction="http://citwebservice.org/LoadTransactionDetailsRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordRTC">
      <soap:operation soapAction="http://citwebservice.org/ResetPasswordRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignatureRTC">
      <soap:operation soapAction="http://citwebservice.org/GetSignatureRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellerTillReportRTC">
      <soap:operation soapAction="http://citwebservice.org/TellerTillReportRTC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFXRate">
      <soap12:operation soapAction="http://citwebservice.org/GetFXRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://citwebservice.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabase">
      <soap12:operation soapAction="http://citwebservice.org/InsertIntoDatabase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseUAT">
      <soap12:operation soapAction="http://citwebservice.org/InsertIntoDatabaseUAT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDuplicateTransaction">
      <soap12:operation soapAction="http://citwebservice.org/SubmitDuplicateTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDetails">
      <soap12:operation soapAction="http://citwebservice.org/AccountDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReport">
      <soap12:operation soapAction="http://citwebservice.org/SummaryReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReportUAT">
      <soap12:operation soapAction="http://citwebservice.org/SummaryReportUAT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReport">
      <soap12:operation soapAction="http://citwebservice.org/DetailedReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportUAT">
      <soap12:operation soapAction="http://citwebservice.org/DetailedReportUAT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://citwebservice.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAccount">
      <soap12:operation soapAction="http://citwebservice.org/UnlockAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatus">
      <soap12:operation soapAction="http://citwebservice.org/ClearLockAccountStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAllUsers">
      <soap12:operation soapAction="http://citwebservice.org/UnlockAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOff">
      <soap12:operation soapAction="http://citwebservice.org/LogOff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginMCD">
      <soap12:operation soapAction="http://citwebservice.org/LoginMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseMCD">
      <soap12:operation soapAction="http://citwebservice.org/InsertIntoDatabaseMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseMCDUAT">
      <soap12:operation soapAction="http://citwebservice.org/InsertIntoDatabaseMCDUAT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitDuplicateTransactionMCD">
      <soap12:operation soapAction="http://citwebservice.org/SubmitDuplicateTransactionMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReportMCD">
      <soap12:operation soapAction="http://citwebservice.org/SummaryReportMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellerTillReportMCD">
      <soap12:operation soapAction="http://citwebservice.org/TellerTillReportMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportMCD">
      <soap12:operation soapAction="http://citwebservice.org/DetailedReportMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionsMCD">
      <soap12:operation soapAction="http://citwebservice.org/LoadTransactionsMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionDetailsMCD">
      <soap12:operation soapAction="http://citwebservice.org/LoadTransactionDetailsMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsOracleMCD">
      <soap12:operation soapAction="http://citwebservice.org/AccountDetailsOracleMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsMCD">
      <soap12:operation soapAction="http://citwebservice.org/AccountDetailsMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordMCD">
      <soap12:operation soapAction="http://citwebservice.org/ResetPasswordMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAccountMCD">
      <soap12:operation soapAction="http://citwebservice.org/UnlockAccountMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatusMCD">
      <soap12:operation soapAction="http://citwebservice.org/ClearLockAccountStatusMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOffMCD">
      <soap12:operation soapAction="http://citwebservice.org/LogOffMCD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginRTC">
      <soap12:operation soapAction="http://citwebservice.org/LoginRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOffRTC">
      <soap12:operation soapAction="http://citwebservice.org/LogOffRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearLockAccountStatusRTC">
      <soap12:operation soapAction="http://citwebservice.org/ClearLockAccountStatusRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAccountRTC">
      <soap12:operation soapAction="http://citwebservice.org/UnlockAccountRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoDatabaseRTC">
      <soap12:operation soapAction="http://citwebservice.org/InsertIntoDatabaseRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CashOutRTC">
      <soap12:operation soapAction="http://citwebservice.org/CashOutRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SummaryReportRTC">
      <soap12:operation soapAction="http://citwebservice.org/SummaryReportRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportRTC1">
      <soap12:operation soapAction="http://citwebservice.org/DetailedReportRTC1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetailedReportRTC">
      <soap12:operation soapAction="http://citwebservice.org/DetailedReportRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRTC">
      <soap12:operation soapAction="http://citwebservice.org/SearchRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionsRTC">
      <soap12:operation soapAction="http://citwebservice.org/LoadTransactionsRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTransactionDetailsRTC">
      <soap12:operation soapAction="http://citwebservice.org/LoadTransactionDetailsRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPasswordRTC">
      <soap12:operation soapAction="http://citwebservice.org/ResetPasswordRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSignatureRTC">
      <soap12:operation soapAction="http://citwebservice.org/GetSignatureRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TellerTillReportRTC">
      <soap12:operation soapAction="http://citwebservice.org/TellerTillReportRTC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.233.51.49/citwebservice/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.233.51.49/citwebservice/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>